.search-input-placeholder-white::placeholder {
    color: rgba(255, 255, 255, 0.7) !important;
    opacity: 1;
}

.search-input-placeholder-dark::placeholder {
    color: rgba(0, 0, 0, 0.5) !important;
    opacity: 1;
}